{% extends 'base.html' %}

{% block header %}
	<div>
		<h1> {{path.split("\\")[-1]}} </h1>
	</div>
{% endblock %}

{% block content %}
  {% if description != None or logo != None %}
	<div class="about">
		{% if logo != None %}
			<img class="mainposter" src="{{url_for('player.src', src=logo)}}">
		{% endif %}
		{% if description != None %}
			<p class="body">{{ description }}</p>
		{% endif %}
	</div>
  {% endif %}
	<table>
	  <tr>
		<th>Catalogue</th>
		<th>{% if data[0][1] != None %} Watch History {% endif %}</th>
	  </tr>
    {% for d in data %}
		<tr>
			<td>
				{% if d[0] != None %}
					<article class="post">
					  <header>
						<div>
						  <h1>{{ d[0][0].split("\\")[-1] }}</h1>
						  <div class="about">
							{% if d[0][1] == False %}
								{% if d[0][2] != None %}
									<img class="poster" src="{{url_for('player.src', src=d[0][2])}}" height = "15%">
								{% endif %}
							{% endif %}
						  </div>
						</div>
						{% if d[0][1] == False %}
						  <a class="action" href="{{ url_for('player.index', data_path=d[0][0]) }}">Explore</a>
						{% else %}
						  <a class="action" href="{{ url_for('player.play', src=d[0][0]) }}">Watch</a>
						{% endif %}
					  </header>
					  <p class="body">{{ d[0][3] }}</p>
					</article>
				{% endif %}
			</td>
			<td>
				{% if d[1] != None %}
					<article class="post">
					  <header>
						<div>
						  <h1>{{ d[1][0].split("\\")[-1] }}</h1>
						  <div class="about">
							{% if d[1][1] == False %}
								{% if d[1][2] != None %}
									<img src="{{url_for('player.src', src=d[1][2])}}" height = "15%">
								{% endif %}
							{% endif %}
						  </div>
						</div>
						{% if d[1][1] == False %}
						  <a class="action" href="{{ url_for('player.index', data_path=d[1][0]) }}">Explore</a>
						{% else %}
						  <a class="action" href="{{ url_for('player.play', src=d[1][0]) }}">Watch</a>
						{% endif %}
					  </header>
					  <p class="body">{% if d[1][3] != None %} {{ d[1][3] }} {% endif %}</p>
					</article>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
